@tailwind base;  
@tailwind components; 
@tailwind utilities; 
@font-face { 
  font-family: ubuntu;
  src: url(/lora.ttf);
}     
@font-face {
  font-family: serifo;
  src: url(/sun.otf);

} 
@font-face {
  font-family: second;
  src: url(/chillen.ttf);

}

/* Dans votre fichier CSS global */
.online-dot {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin-right: 6px;
}

.online-dot.online {
  background-color: #10B981; /* Vert */
}

.online-dot.offline {
  background-color: #9CA3AF; /* Gris */
}
/* @font-face {
  font-family: serifo;
  src: url(/chillen.ttf);

} */
.serifo{
  font-family: serifo;
}
.second{
  font-family: second;
}
:root, html, body {
  background-color: white !important;
  color: black !important;
  color-scheme: light only !important;
    font-family: ubuntu !important;

}
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
}
/* globals.css */
@media (prefers-color-scheme: dark) {
  :root, html, body {
    background-color: white !important;
    color: black !important;
    filter: invert(0) hue-rotate(0deg) !important;
  }
  img, video, iframe {
    filter: invert(0) hue-rotate(0deg) !important;
  }
}

/* Ajoutez ces styles */
.schedule-day {
  min-height: 100px;
}

.schedule-course {
  transition: all 0.2s ease;
}

.schedule-course:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
}